<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AFSY.fr{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
            <link rel="stylesheet" href="/css/styles.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="{% block body_class %}mdl-color--grey-100 mdl-color-text--grey-700 mdl-base{% endblock %}">
        {% block body %}
            <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout">
                {% block body_header %}
                <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color-text--grey-800">
                    <div class="mdl-layout__header-row">
                        <span class="mdl-layout-title">AFSY.fr</span></span>
                        <div class="mdl-layout-spacer"></div>
                        <nav class="mdl-navigation">
                            <a href="{{ path('homepage') }}" class="mdl-navigation__link">Accueil</a>
                            <a href="{{ path('app_cms_post_index') }}" class="mdl-navigation__link">Blog</a>
                            <a href="{{ path('app_cms_post_listbycategory', {'slug': 'calendrier-avent-2017'}) }}" class="mdl-navigation__link">Avent 2017</a>
                        </nav>
                        {#<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                                <i class="material-icons">search</i>
                            </label>
                            <div class="mdl-textfield__expandable-holder">
                                <input class="mdl-textfield__input" type="text" id="search">
                                <label class="mdl-textfield__label" for="search">Enter your query...</label>
                            </div>
                        </div>#}
                    </div>
                </header>
                {% endblock %}
                {% block body_content_ribbon %}{% endblock body_content_ribbon %}


                {% block body_content %}
                    <main class="demo-main mdl-layout__content">
                        <div class="demo-container mdl-grid">
                            {% block body_content_main %}{% endblock body_content_main %}
                        </div>
                        <footer class="demo-footer mdl-mini-footer">
                            <div class="mdl-mini-footer--left-section">
                                <ul class="mdl-mini-footer--link-list">
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Privacy and Terms</a></li>
                                    <li><a href="#">User Agreement</a></li>
                                </ul>
                            </div>
                        </footer>
                    </main>
                {% endblock body_content %}
            </div>
        </div>
        <div id="toast-container" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        {% endblock %}
        {% block javascripts %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <script>
                        r(function(){
                            'use strict';
                            var snackbarContainer = document.querySelector('#toast-container');
                            var data = {message: '{{ message|e('js') }}'};
                            snackbarContainer.MaterialSnackbar.showSnackbar(data);

                        });
                        function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
                    </script>
                {% endfor %}
            {% endfor %}
            <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ googleMapAPIKEY }}{% block gmapExtraAttributes %}{% endblock %}"></script>
        {% endblock %}
    </body>
</html>
