{% extends "::base.html.twig" %}

{% block body_content %}
    <section class="feature-section mdl-typography--text-center">
        <h1 class="slogan logo-font">Association Francophone des Utilisateurs de Symfony</h1>
        <h2 class="sub-slogan logo-font">Groupe de professionnels du Web passionnés par le framework PHP Symfony.</h2>
        <!-- Accent-colored raised button with ripple -->
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
           href="https://groups.google.com/forum/#!forum/asso-afsy">
            Rejoindre la liste de discussion
        </a>
    </section>
    <section class="feature-section mdl-color--green-300  mdl-typography--text-center">
        <h3 class="mdl-color-text--white">
            Nos objectifs
        </h3>
        <div class="content-grid mdl-grid">
            {{ render(path('app_cms_goals_renderlist')) }}
        </div>
    </section>
    <section class="feature-section mdl-color--gray-100  mdl-typography--text-center">
        <h3>
            Les événements
        </h3>
        {{ render(path('app_cms_event_renderlist', { 'max': 10 })) }}
    </section>

    {{ page.getText()|markdown|raw }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .demo-card-wide > .mdl-card__title {
            color: #fff;
            height: 176px;
            background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
        }
        .demo-card-wide > .mdl-card__menu {
            color: #fff;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ googleMapAPIKEY }}"></script>
{% endblock %}
